 <div class="container"><div class="container">
  	</br></br>
  	<h1>Aktüerya Nedir?</h1>
  </br>
<p>Aktüerya bilimi insanların; doğum, ölüm, hastalık, sakatlık, emeklilik gibi yaşamını; yangın, kaza, deprem, sel, hırsızlık gibi mal varlığını etkileyen rastgeleliğe bağlı, öngörülemeyen olaylarla ve bu olayların finansal etkileriyle ilgilenir. Aktüerler, bu tür olayların oluşma riskini analiz etmek, olasılıklarını tahmin etmek ve bu olayların finansal etkilerini hafifletici güvenlik programlarını oluşturmak üzere eğitim alırlar.
</br></br>
Her insan ve kurum farklı riskler ile karşılaşabilir. Aktüerler, riski ölçümü ve risk yönetiminde uzman olduklarından, toplumun fiziksel ve ekonomik koşullarının iyileştirilmesine önemli derecede katkı sağlarlar. Aktüerlerin geliştirdiği risk programları dikkate alınmadığında, ekonomik anlamda istenilmeyen sonuçlar ile karşılaşılması olasıdır.
</br></br>
Aktüerya eğitiminin amacı aktüerya, istatistik, matematik, sigortacılık, bilgisayar uygulamaları, ekonomi, finans gibi bilgilerle donatılmış; sosyoloji, felsefe, psikoloji gibi sosyal bilim dersleriyle desteklenmiş; bu bilgileri ilgili olduğu her alanda kullanılabilecek çağdaş, yaratıcı ve sorunları rasyonel olarak çözebilecek aktüer adayları yetiştirmektir.
</br></br>
Dört yıllık Aktüerya Bilimleri Lisans Programında önce matematik, istatistik, bilgisayar ve ekonomi ağırlıklı temel dersler, daha sonra finansal matematik, aktüerya matematiği, risk kuramı, hayat ve hayat dışı sigortalar matematiği, emeklilik matematiği, hasar modelleri, aktüeryal yazılımlar, aktüerya uygulamaları gibi uzmanlık dersleri verilmektedir. Aktüerya eğitiminde başarılı olan öğrenciler gerekli kredileri tamamlayarak istatistik, işletme ya da iktisat gibi çeşitli alanlarda yan dal sertifikası da alabilirler.
</br></br>
Aktüer olmak isteyen adayların matematik, istatistik, finans bilgisi güçlü, bilgisayar programlarından da yararlanarak sayısal analizler yapmaktan hoşlanan, girişimci, araştırmacı, yeniliklere açık, ekonomi ve finans ile yakından ilgili kişiler olmaları gerekir.
</br></br>
Aktüerler, ekonominin tüm sektörlerinde çalışabilmekle beraber daha çok sigorta, brokerlık, eksperlik, danışmanlık şirketleri, ticari bankalar, yatırım bankaları, yatırım ,şirketleri gibi finansal hizmet sektörü ile Sosyal Güvenlik Kurumu, Hazine Müsteşarlığı gibi kamu kurumlarında da çalışabilmektedirler. Aktüerlerin ağırlıklı olarak sigorta sektöründe çalışmasının nedeni, toplumda risk yönetimine en çok ihtiyaç duyulan sektör olmasıdır. Finansal olarak kaybetme riski, belli bir prim karşılığında sigorta şirketine devredilir. Aktüerler, sigorta sektöründe sigorta ürünleri oluşturarak bu ürünlere ilişkin primlerin ve rezervlerin belirlenmesini ve bu primler karşılığında sigortalılara ödenecek hasar ödemelerinin yapılabilmesini sağlamak için şirketin aktüeryal dengesinin oluşturulmasında anahtar rol oynarlar.
</br></br>
Mezunlar, ulusal ya da uluslararası aktüerlik sınavlarına girerek Aktüerler Yönetmeliği'nin öngördüğü koşulları yerine getirdikleri takdirde, imza yetkisine sahip Aktüer unvanını da alabilirler. Aktüerlerin iş alanları; matematik, istatistik, ekonomi, bilgisayar yazılımları, finans, mevzuat, muhasebe ve sigortacılık konularında değişen dünya koşullarına uygun olarak kendilerini geliştirdikleri takdirde oldukça geniştir. Aktüerlik mesleği, ABD ve Avrupa'da ücret, prestij ve iş tatmini açısından en iyi on meslek sıralamasında ilk beşin içerisinde yer almaktadır.  
</br></br>
Aktüerliğin toplum tarafından yeni tanınan bir meslek olması nedeniyle Aktüerya eğitimi almanın, bir takım zorlukları olduğu gibi, aktüer sayısının azlığı, sektörün aktüerlere olan ihtiyacı ve dünyada aktüerliğin aranan meslek grupları içerisinde yer alması gibi avantajları da bulunmaktadır.
</br></br>
Aktüerya Bilimleri Bölümü misyonunu, edindiği bilgileri kullanabilecek çağdaş, yaratıcı ve sorunları bağımsız olarak çözebilecek, insanlığın sorunlarına duyarlı, birlikte çalışmayı ve düşünmeyi öğrenmiş aktüerya uzmanları yetiştirmek, ulusal ve uluslararası ortamlarda vereceği eğitim ve üreteceği bilgi ile ulusal ve evrensel kalkınmaya katkıda bulunan bir bölüm olmak; vizyonunu ise, araştırma, öğretim ve hizmet alanlarındaki üretimi ile evrensel değerler ışığında ülkenin geleceği için yetiştirdiği üstün nitelikli bireyleri topluma sunmak olarak belirlemiştir.</p>
