<div class="container"> 
 	</br></br>
 	<h1>Aktüerlik sınavları</h1>
 	
 </br>
1.AŞAMA
</br></br>
		-Matematik</br>
		-Finansal Matematik</br>
		-İstatistik ve Olasılık</br>
		-Temel Sigortacılık ve Ekonomi
	</br></br>
	2.AŞAMA
	</br></br>
		-Finans Teorisi ve Uygulamaları</br>
		-Sigorta Matematiği</br>
		-Muhasebe ve Finansal Raporlama</br>
		-Risk Analizi ve Aktüeryal Modelleme
</br></br>
	3.AŞAMA
</br></br>
	-Hayat Sigortaları</br>
	-Hayat Dışı Sigortalar</br>
	-Finans, Yatırım ve Risk Yönetimi</br>
	-Sağlık Sigortaları
	</p>