<div class="container">
</br>
<h4>Kayıt</h4>
</br>
<div class="alert alert-warning" role="alert">
  Tüm Alanları Doldurunuz!
</div>
</br>


<%= render 'form', kullanici: @kullanici %>


<%= link_to 'Back', kullanicis_path, class:"btn btn-dark" %>
